.calendar-wrapper {
    padding: 10px;
}

.days {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: fixed;
    top: 0;
    background-color: white;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
}

.day {
    width: 50px;
    height: 25px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
}

.day-off {
    color: red;
}

.day:last-child {
    border-right: 1px solid #ccc;
}


.week {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-bottom: 1px solid #ccc;
    width: fit-content;   
}

.week .day {
    border-bottom: none;
    border-top: none;
    cursor: pointer;
}

.calendar-wrapper {
    overflow: auto;
    max-height: 100%;
}

.month-label {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.month {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month .week:nth-child(2) {
    border-top: 1px solid #ccc;
}

.months .month:first-child {
    margin-top: 50px;
}

.day.disable {
    cursor: default;
    color: #ccc;   
}

.day.today {
    background-color: aquamarine;
}


.day.range-start {
    position: relative;
    background-color: greenyellow;
}

.day.range-start::before {
    position: absolute;
    top:0;
    left: 0;
    border: 12px solid transparent; border-left: 10px solid green; 
    content:'';
    transition: all .35s ease;
}

.day.range-end {
    position: relative;
    background-color: greenyellow;
    transition: all .35s ease;
}

.day.range-end::before {
    position: absolute;
    top:0;
    right: 0;
    border: 12px solid transparent; border-right: 10px solid green; 
    content:'';
    transition: all .35s ease;

}

.hovered {
    background-color:chartreuse;
}

.continue-btn {
    background-color: brown;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    transition: all .35s ease;
    font-size: 18px;
}

.continue-btn:hover {
    cursor: pointer;
}

.continue-btn[disabled] {
    cursor:not-allowed;
    background-color: lightsalmon;
}